.general-layout
  height : 100vh;
  width: 100vw;
  display flex
  align-items: center
  justify-content: center
  flex-direction: column

.general-layout__menu
  width: 60vw
  min-width 800px
  height: 50px
  min-height: 50px
  display: flex
  align-items: center



.general-layout__sub-container
  width: 60vw
  min-width 800px
  height: 600px
  background: #d8d8d8

