.settings
  padding: 18px

  .settings-block
    margin-top: 20px

  a
    cursor: pointer
    margin-right: 10px
    display: inline-block
  a:last-child
    margin-right:  0
  a:hover
    text-decoration: underline
  a.active
    background: lightskyblue

